.gallery {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    padding: 0 48px 92px;
    max-width: 1184px;
    margin: 0 auto;
}

@media (max-width:1100px) {
    .gallery {
        grid-gap: 14px;
    }
}

@media (max-width:990px) {
    .gallery {
        grid-gap: 16px;
        padding: 0 24px 88px;
    }
}

@media (max-width:750px) {
    .gallery {
        grid-gap: 12px;
        padding: 0 16px 64px;
    }
}
