.cover__subtitle {
    max-width: 360px;
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
}

@media (max-width:750px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}

@media (prefers-color-scheme: light) {
    .cover__subtitle {
        color: black;
    }
}
