.place__website-href {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 12px;
}

@media (prefers-color-scheme: light) {
    .place__website-href {
        color: black;
    }
}
