.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 33px;
    padding: 0;
    max-width: 690px;
}

@media (max-width:990px) {
    .intro__text {
        max-width: 100%;
    }
}

@media (max-width:750px) {
    .intro__text {
        margin-bottom: 34px;
    }
}